/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.columns-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.column {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  width: 30%;
}

h2 {
  margin: 0;
  text-align: center;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 8px 0;
  padding: 8px;
  cursor: pointer;
}

.task:hover {
  background-color: #f0f0f0;
}

.container{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 margin-top: 30px;
  height: 100vh;

}

li{

  border: black;
}